In [2]:
import numpy as np
import pandas as pd

## Object creation

#### Creating a Series by passing a list of values, letting pandas create a default integer index

In [4]:
s = pd.Series([1 ,3, np.nan, 5, 6])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    6.0
dtype: float64

#### Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [19]:
dates = pd.date_range('2019-08-14' , periods=6)
dates

DatetimeIndex(['2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19'],
              dtype='datetime64[ns]', freq='D')

In [20]:
dates = pd.date_range('20190814' , periods=6)
dates

DatetimeIndex(['2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19'],
              dtype='datetime64[ns]', freq='D')

In [21]:
np.random.rand(6, 4)

array([[0.64711713, 0.87163522, 0.48779603, 0.66104406],
       [0.48161309, 0.42086498, 0.66281459, 0.85668967],
       [0.4787291 , 0.42256635, 0.14037298, 0.38206101],
       [0.85935086, 0.79700733, 0.9202536 , 0.56522269],
       [0.57102836, 0.88101146, 0.94164051, 0.69488884],
       [0.7446752 , 0.83963572, 0.66898943, 0.09298905]])

In [22]:
np.random.randn(6, 4)

array([[-1.4109431 ,  0.53708894,  1.43096083, -0.85780459],
       [-2.05545534, -0.17422532, -0.51436491, -0.86570513],
       [-0.30220414, -1.13308127,  0.73524635, -1.4299958 ],
       [-1.03221685,  0.38329639, -0.87368745, -0.63937106],
       [ 0.75952715,  0.98103083, -0.87180506,  1.44669808],
       [-0.48009177,  1.9933648 ,  1.09945612, -0.41372965]])

In [26]:
#df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['ABCD']) #ValueError: Shape of passed values is (4, 6), indices imply (1, 6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2019-08-14 -0.778241 -0.227796  0.277006  0.427104
2019-08-15 -1.023532  0.013475  1.005470 -0.036714
2019-08-16  1.474918 -1.049093 -1.157597  0.322213
2019-08-17 -0.312681 -0.872288  0.203486  1.222012
2019-08-18  1.441041  0.624407 -0.342776 -0.497870
2019-08-19  0.481532 -1.976416 -0.353393 -1.180163