In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("dept.csv")

In [4]:
df.rename(columns={'name':'EMP_NAME',"departmentid":"DEPT_ID",'status':'STATUS'},inplace=True)

In [5]:
df

  EMP_NAME         doj  department  STATUS
0    rocky  05-04-2016           2  active
1   nikhil  02-01-2016           1  active

In [6]:
df.to_sql(name="employee", # data base table name
         con=engine,
         id_exists='append',
         index=False)

NameError: name 'engine' is not defined