In [1]:
import pandas as pd

In [2]:
students_records={"Rollno":[1,2,3,4,5],
                    "Name" : ['Rohit','Rohan','Sam','Shatti','Ramji'],
                     "Subject":['Java','Python','c++','Python','Ruby'],
                     "Marks":[90,95,40,60,75]
                 }

df=pd.DataFrame(students_records)

In [3]:
df

   Rollno    Name Subject  Marks
0       1   Rohit    Java     90
1       2   Rohan  Python     95
2       3     Sam     c++     40
3       4  Shatti  Python     60
4       5   Ramji    Ruby     75

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(5, 4)

In [10]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [11]:
dtype(df)

NameError: name 'dtype' is not defined

In [7]:
df.size

20

In [8]:
df.items

<bound method DataFrame.iteritems of    Rollno    Name Subject  Marks
0       1   Rohit    Java     90
1       2   Rohan  Python     95
2       3     Sam     c++     40
3       4  Shatti  Python     60
4       5   Ramji    Ruby     75>

In [ ]:
df["Marks"].max()

In [ ]:
df['Name'][df['Marks']==df['Marks'].max()]

In [ ]:
df[df['Marks']==df['Marks'].max()]

In [ ]:
df[['Rollno','Name','Subject']][df['Marks']==df['Marks'].max()]

In [ ]:
df['Name'][df['Subject']=='Python']

In [ ]:
df['Name'][df['Marks'] > 50]

In [ ]:
df[['Marks','Name']]

In [9]:
df['Marks'].mean()

72.0

In [8]:
df.Marks.sum()/len(df.Marks)

72.0

In [9]:
type(df['Marks'])

pandas.core.series.Series

In [4]:
df.Marks.std()

22.52776065213762