In [2]:
import pandas as pd
import numpy as np

In [5]:
students_records=[{'Name':'Rohit','RollNo':1},
                 {'Name':'Ram','RollNo':2}]

In [6]:
df=pd.DataFrame(students_records)

In [7]:
df

    Name  RollNo
0  Rohit       1
1    Ram       2

In [9]:
students_records2=[(1,'Rohit'),
                 (2,'Ram')]

In [10]:
df2=pd.DataFrame(students_records2,columns=["RollNo","Name"])

In [11]:
df2

   RollNo   Name
0       1  Rohit
1       2    Ram